body {
}
.bg {
    padding-left: 5%;
    padding-right: 5%;
    background-image: url("../images/blue-background.png");
}

.logo {
    font-family:'Times New Roman', Times, serif; 
    border-style: solid;
}

#username_display {
    margin: auto;
}

#title {
    color: black;
    font-family: 'Apple Chancery', 'cursive';
    text-align: center;
    font-size: 70px;
    text-decoration: underline;
}

.imageHeader {
    position: relative;
    background-color: grey;
    padding: 2%;
    background-size: auto;
}

.gvBackground {
    background-color: grey;
    padding: 2em;
}

#gvRestaurants {
    color: black;
}

.gridline tr, .gridline td, .gridline th {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
} 

