body {
    background-image: url("../images/blue-background.png");
    min-height: 1000px;
}

#username_display {
    margin: auto;
}
#btnMyReviews {
    margin: auto;
    color: white;
    margin-left: 2em;
    text-decoration: underline;
}

.gvBackground {
    background-color: lightgrey;
    padding: 2em;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2em;
}

#gvMyReviews {
    color: black;
}

.gridline tr, .gridline td, .gridline th {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
} 
