body {
    background-image: url("../images/blue-background.png");
}

#username_display {
    margin: auto;
}

#btnMyReviews {
    margin: auto;
    color: white;
    margin-left: 2em;
    text-decoration: underline;
}

#mainSection {
    margin-top: 3em;
    margin-left: 30%;
    margin-right: 30%;
    background-color: grey;
    padding: 1em;
}

#btnClaimRestaurant {
    margin: 0 auto;
    display: block;
}

#restaurantImage {
    width: 85%;
    height: 75%;
    margin: auto;
}

#restaurantContent {
    background-color: lightgrey;
}

#buttonSection {
    margin-left: 35%;
    margin-right: 35%;
    background-color: aquamarine;
    padding: 1em;
    border-style: solid;
}
    #viewRestaurant {
        margin: 0 auto;
        display: block;
    }
    #btnMakeReview {
        margin: 0 auto;
        display: block;
    }

#gvReviews {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

#reservationModal {
    margin-top: 3em;
    display: block;
    visibility: hidden;
}
#reviewModal {
    margin-top: 3em;
    display: block;
    visibility: hidden;
}

.modalSpreadOut {
    margin-left: 2em;
}

#lblReservationError {
    color: red;
}

.SuccessSubmitted {
    font-size: x-large;
}

#lblReviewHeader {
    display: block;
    font-size:x-large;
}

#lblReviewError {
    color: red;
}

#modalClaimed {
    display: block;
}