body {
}

#username_display {
    margin: auto;
}

#mainSection {
    margin-top: 3em;
    margin-left: 30%;
    margin-right: 30%;
    background-color: grey;
    padding: 1em;
}

#restaurantImage {
    width: 85%;
    height: 75%;
    margin: auto;
}

#restaurantContent {
    background-color: lightgrey;
}

#gvReviews {
    margin-top: 1em;
    margin-left: 20%;
    margin-right: 20%;
}